        <div class="nav_menu_left">
          <ul>
            <li><a href="">Бестселлеры</a></li>
            <li><a href="">Фантастика</a></li>
            <li><a href="">Комиксы</a></li>
            <li><a href="">Обучение</a></li>
            <li><a href="">Бизнес</a></li>
            <li><a href="">Кулинария</a></li>
            <li><a href="">Иностранные языки</a></li>
            <li><a href="">Поэзия</a></li>
            <li><a href="">История</a></li>
          </ul>
        </div>

        <div class="flexslider">
          <ul class="slides">
            <li>
              <img src="/assets/slider-1.jpg" />
            </li>
            <li>
              <img src="/assets/slider-2.jpg" />
            </li>
            <li>
              <img src="/assets/slider-3.jpg" />
            </li>
          </ul>
        </div>
    <%= render "layouts/advantages" %>
