        <div class="nav_menu_left">
          <%= render "layouts/nav_menu_left_list" %>
        </div>

        <div class="flexslider">
          <ul class="slides">
            <li>
              <img src="/assets/slider-1.jpg" />
            </li>
            <li>
              <img src="/assets/slider-2.jpg" />
            </li>
            <li>
              <img src="/assets/slider-3.jpg" />
            </li>
          </ul>
        </div>
    <%= render "layouts/advantages" %>
