.news_container {
  width: 100%;

  .single_new_container {
    float: left;
    width: 33%;

    .single_new {

      .news_title {
        text-decoration: none;
        color: black;
      }

      .news_title:hover {
        color: #ffb85f;
      }

      img {
        width: 100%;
      }
    }
  }

  .single_new_container:nth-child(3n+1) {

    .single_new {
      margin: 0 40px 40px 0;
    }
  }

  .single_new_container:nth-child(3n+2) {

    .single_new {
      margin: 0 20px 40px 20px;
    }
  }
  .single_new_container:nth-child(3n+3) {

    .single_new {
      margin: 0 0 40px 40px;
    }
  }
}
