.products {
  float: left;
  width: 80%;

  .single_product_container {
    float: left;
    width: 25%;

    .single_product {
      margin: 0 0 40px 40px;

      .single_product_cover {
        background: #f4f4f4;
        text-align: center;

        img {
          width: 70%;
          padding: 15% 0;
        }
      }

      .product_title {
        height: 2.4em;

        a {
          color: #363a42;
          text-decoration: none;
          font-weight: bold;
          font-size: 1.2em;
          transition: all 0.5s ease 0s;
        }
      }

      .product_info {
        color: #363a42;
        font-weight: 400;
      }

      .product_price {
        font-weight: bold;
        height: 1.2em;
      }
    }

    .single_product:hover {
      .product_title {

        a {
          color: #ffb85f;
          transition: all 0.5s ease 0s;
        }
      }
    }
  }
}
