<div class="advantages">
  <div class="container">
    <div class="advantage-1 single_advantage">
      <div class="advantage-inner">
        <span class="advantage1-icon advantageicon">
        </span>
        <div class="advantage-description">
          <div class="advantage-title">Бесплатная доставка</div>
          <div class="advantage-text">При заказе от 100 рублей</div>
        </div>
      </div>
    </div>
    <div class="advantage-2 single_advantage">
      <div class="advantage-inner">
        <span class="advantage2-icon advantageicon">
        </span>
        <div class="advantage-description">
          <div class="advantage-title">Онлайн поддержка</div>
          <div class="advantage-text">На связи круглосуточно</div>
        </div>
      </div>
    </div>
    <div class="advantage-3 single_advantage">
      <div class="advantage-inner">
        <span class="advantage3-icon advantageicon">
        </span>
        <div class="advantage-description">
          <div class="advantage-title">Гарантия возврата денег</div>
          <div class="advantage-text">В течение 30 дней</div>
        </div>
      </div>
    </div>
    <div class="advantage-4 single_advantage">
      <div class="advantage-inner">
        <span class="advantage4-icon advantageicon">
        </span>
        <div class="advantage-description">
          <div class="advantage-title">Подарки и скидки</div>
          <div class="advantage-text">Постоянным покупателям</div>
        </div>
      </div>
    </div>
  </div>
</div>
