    <div id="footer">
      <div class="container">
        <div class="footer_block">
          <div class="logo">
            <img src="/assets/test-book.png">
            <span class="title">Books<br>Store</span>
          </div>
          <div class="social_links">
            <ul>
              <li class="fb"><a title="Facebook"></a></li>
              <li class="tw"><a title="Twitter"></a></li>
              <li class="yt"><a title="YouTube"></a></li>
              <li class="ig"><a title="Instagram"></a></li>
            </ul>
          </div>
        </div>
        <div class="footer_block">
          <ul>
            <li>Главная</li>
            <li>FAQ</li>
            <li>Новости</li>
            <li>Контакты</li>
          </ul>
        </div>
        <div class="footer_block">
          <ul>
            <li>Books Store</li>
            <li>Минск, пр-т Дзержинского</li>
            <li>220000, Беларусь</li>
            <li>+375 (33) 638-77-64</li>
          </ul>
        </div>
        <div class="footer_block">
          <img class="payment_icons" src="/assets/visa.gif" title="Visa">
          <img class="payment_icons" src="/assets/mastercard.png" title="MasterCard">
          <img class="payment_icons" src="/assets/paypal.gif" title="PayPal">
          <img class="payment_icons" src="/assets/yandex-dengi.jpg" title="Яндекс.Деньги">
          <p>&copy; 2019</p>
        </div>
      </div>
    </div>
