          <ul class="nav_menu_left_list">
            <li><a href="/catalog/bestsellery">Бестселлеры</a></li>
            <li><a href="/catalog/fentezy">Фэнтези</a></li>
            <li><a href="/catalog/komiksy">Комиксы</a></li>
            <li><a href="/catalog/obuchenie">Обучение</a></li>
            <li><a href="/catalog/biznes">Бизнес</a></li>
            <li><a href="/catalog/kulinariya">Кулинария</a></li>
            <li><a href="/catalog/inostrannye-yazuki">Иностранные языки</a></li>
            <li><a href="/catalog/poeziya">Поэзия</a></li>
            <li><a href="/catalog/nauka">Наука</a></li>
          </ul>
