          <ul class="nav_menu_left_list">
            <li><a href="">Бестселлеры</a></li>
            <li><a href="">Фантастика</a></li>
            <li><a href="">Комиксы</a></li>
            <li><a href="">Обучение</a></li>
            <li><a href="">Бизнес</a></li>
            <li><a href="">Кулинария</a></li>
            <li><a href="">Иностранные языки</a></li>
            <li><a href="">Поэзия</a></li>
            <li><a href="">История</a></li>
          </ul>
